
.vs/BTZTransportesAPI/v17/.suo
BTZTransportesAPI/obj/Debug/net7.0/refint/BTZTransportesAPI.dll
BTZTransportesAPI/obj/Debug/net7.0/ref/BTZTransportesAPI.dll
BTZTransportesAPI/obj/Debug/net7.0/BTZTransportesAPI.pdb
BTZTransportesAPI/obj/Debug/net7.0/BTZTransportesAPI.dll
BTZTransportesAPI/bin/Debug/net7.0/BTZTransportesAPI.pdb
BTZTransportesAPI/bin/Debug/net7.0/BTZTransportesAPI.dll
